.videoTag {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.videoMain {
    width: 100%;
    height: 100vh;
}

.videoContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}

.videoOverlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.5);
}